[Unit]
Description=The KeyCloak Application Server
After=syslog.target network.target

[Service]
User=wildfly
LimitNOFILE=102642
PIDFile=/var/run/wildfly/wildfly.pid
ExecStart=/home/produits/keycloak/bin/standalone.sh
StandardOutput=null

[Install]
WantedBy=multi-user.target
